@import "./reset.scss";
@import "./fonts.scss";
@import "./mixins.scss";

/* setup viewport */
html {
  @include sizeWH(100%, 100%);
  background: #fff;
  overflow: hidden;
  overflow-y: auto;

  body {
    @include fullsize();
  }
}
